

.con{
margin-left: 40%;
}

.try{
  height: 50px;
  margin-left: 10px;
  
}

.showelement{
  width:  auto;


}
.subelement{
  margin-top: 11%;
  margin-bottom: 6.5%;
  padding-top: 100px;
padding-bottom: 100px;
}